/* CGGX palette */
@define-color foreground #D1C7C6;
@define-color background #151518;
@define-color color6     #FF6B00;

window {
    font-family: Fira Code Medium;
    font-size: 16pt;
    color: @foreground;
    background-color: alpha(@background, 0.6);
    background-image: none;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: transparent;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, background-size 0.2s ease;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 16px;
    min-height: 70px;
    padding: 0;
    margin: -5px 8px;
  }
button label {
    margin-top: -5px;
}
button image {
    margin-bottom: -8px;
}
button:focus {
    box-shadow: none;
    background-size: 30%;
}

button:hover {
    background-size: 40%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .4);
    color: transparent;
  }

#lock { color: #00E5FF; }
#lock:hover { background-color: #00E5FF; }
#logout { color: #C8FF00; }
#logout:hover { background-color: #C8FF00; }
#suspend { color: #DFAD00; }
#suspend:hover { background-color: #DFAD00; }
#reboot { color: #FF6B00; }
#reboot:hover { background-color: #FF6B00; }
#shutdown { color: #F8364A; }
#shutdown:hover { background-color: #F8364A; }
#sleep { color: #A259FF; }
#sleep:hover { background-color: #A259FF; }

#shutdown {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/power-hover.png"));
}

#logout {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/logout.png"));
}
#logout:hover {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/restart-hover.png"));
}

#lock {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/lock.png"));
}
#lock:hover {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/lock-hover.png"));
}

#sleep {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/hibernate.png"));
}
#sleep:hover {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/hibernate-hover.png"));
}

#suspend {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/suspend.png"));
}
#suspend:hover {
    background-image: image(url("/home/nine/hyprarch/configs/wlogout/icons/suspend-hover.png"));
}
