[data-window-chrome="true"] {
    display: none !important;
    position: absolute !important;
}

.base__5e434 {
    position: fixed !important;
    top: -32px !important;
    left: 0 !important;
    width: 100vw !important;
    height: calc(100vh + 32px) !important;
}